<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>

</html>
<script type="text/javascript">

        $('myform').submit(function(event){
            alert("sjfg");
            event.preventDefualt();
            $.ajax({
                type:'POST',
                url:'{% url 'js:add' %}',
                data:{
                    name:$('#name').val(),
                    number:$('#number').val(),
                    csrfmiddlewaretoken:'{{csrf_token}}',
                },
                dataType:'json',
                success:function(response){
                    $('#myform').html(response['form'])
                    console.log($('#myform').html(response['form']));
                },
                error:function(rs, e){
                    console.log(rs.responseText);
                },
            });
        });

    <!--let data = {};-->
    <!--let url = '{% url 'js:add' %}';-->
    <!--let formNode = document.getElementById('myform').querySelectorAll('input');-->
    <!--let nodeArray = Array.from(formNode);-->
    <!--nodeArray[2].addEventListener('click',submitData);-->

    <!--function submitData(e){-->
        <!--e.preventDefault();-->
        <!--nodeArray.splice(0,3).map(function(item){-->
          <!--data[item.name]=item.value;-->
        <!--});-->
        <!--console.log(data) //  Form Data-->
        <!--fetch(url, {-->
            <!--method: 'POST',-->
            <!--body: JSON.stringify(data),-->
            <!--headers: {-->
            <!--"Content-type": "application/json"-->
            <!--}-->
        <!--})-->
        <!--.then(response => response.json())-->
        <!--.then(json => console.log(json))-->
        <!--.catch(error => console.error('Error:', error));-->
    <!--}-->

    </script>
