<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="" method="post" id="myform">
        <input type="text" name="title" id="name" /><br/>
        <input type="text" name="body" /><br/>
        <input type="number" name="userId" id="number" /><br/>
        <input type="submit" value="Submit" />
    </form>
</body>
<script>
    let data = {};
    let url = 'https://cameronnokes.com/slack-ron-swanson-quote-bot/ron';
    let formNode = document.getElementById('myform').querySelectorAll('input');
    let nodeArray = Array.from(formNode);
    nodeArray[3].addEventListener('click',submitData);

    function submitData(e){
        e.preventDefault();
        nodeArray.splice(0,3).map(function(item){
          data[item.name]=item.value;
        });
        console.log(data) //  Form Data
        fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
            "Content-type": "application/json"
            }
        })
        .then(response => response.json())
        .then(json => console.log(json))
        .catch(error => console.error('Error:', error));
    }
</script>
</html>