{% extends 'base.html' %}
{% block content %}

    <form action="" method="post" id="myform">
        {% csrf_token%}
        <!--{{form.as_p}}-->
        <input type="text" name="name" id="name" /><br/>
        <input type="number" name="number" id="number" /><br/>
        <input type="submit" value="Submit" />
    </form>
<br/>
<table id="myTable" class="table" data-order='[[ 1, "asc" ]]' data-page-length='25'>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Number
                </th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
                <tr>
                    <td>
                        {{d.name}}
                    </td>
                    <td>
                        {{d.number}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}