{% extends 'base.html' %}
{% block content %}

    <form action="{% url 'js:search' %}" method="post">
        {% csrf_token%}
        <input type="text" name="search" />
        <input type="submit" value="Search" />
    </form>

    <table id="myTable">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Number
                </th>
            </tr>
        </thead>
        {% for d in data %}
            <tbody>
                <tr>
                    <td>
                        {{d.name}}
                    </td>
                    <td>
                        {{d.number}}
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}